@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@layer base {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: radial-gradient(circle at center, #1e3c72 0%, #000000 100%);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}
